
'.tool-panel.panel-left, .tool-panel.panel-right':
	'escape':	'tool-panel:unfocus'

'.tree-view':
	'alt-\'':	'tree-view:undo'
	'alt-z':	'tree-view:undo'
	'alt-h':	'tree-view:collapse-directory'
	'alt-j':	'tree-view:copy'
	'alt-k':	'tree-view:paste'
	'alt-n':	'tree-view:expand-directory'
	'alt-q':	'tree-view:cut'
	'enter':	'tree-view:open-selected-entry'

'atom-text-editor':
	'ctrl-s':	'core:save'
	'alt-\'':	'core:undo'
	'alt-z': 	'core:undo'
	'alt-.':	'atomic-emacs:backward-kill-word'
	'alt-a':	'command-palette:toggle'
	'alt-c':	'atomic-emacs:previous-line'
	'alt-e':	'core:backspace'
	'alt-f':	'fuzzy-finder:toggle-buffer-finder'
	'alt-g':	'atomic-emacs:backward-word'
	'alt-h':	'atomic-emacs:backward-char'
	'alt-j':	'core:copy'
	'alt-k':	'core:paste'
	'alt-n':	'atomic-emacs:forward-char'
	'alt-p':	'atomic-emacs:kill-word'
	'alt-q':	'core:cut'
	'alt-r':	'atomic-emacs:forward-word'
	'alt-s':	'core:save'
	'alt-shift-\'':	'core:redo'
	'alt-shift-C':	'atomic-emacs:backward-paragraph'
	'alt-shift-F':	'fuzzy-finder:toggle-file-finder'
	'alt-shift-G':	'core:move-to-top'
	'alt-shift-H':	'editor:move-to-beginning-of-line'
	'alt-shift-N':	'editor:move-to-end-of-line'
	'alt-shift-R':	'core:move-to-bottom'
	'alt-shift-T':	'atomic-emacs:forward-paragraph'
	'alt-space':	'atomic-emacs:set-mark'
	'ctrl-g':	'core:cancel'
	'alt-t':	'atomic-emacs:next-line'
	'alt-u':	'core:delete'
	'end':	'editor:move-to-end-of-screen-line'
	'home':	'editor:move-to-first-character-of-line'
	'shift-end':	'editor:select-to-end-of-line'
	'shift-home':	'editor:select-to-first-character-of-line'

'atom-text-editor , atom-text-editor[mini]':
	'escape':	'editor:consolidate-selections'

'atom-text-editor.autocomplete-active':
	'alt-c':	'core:move-up'
	'alt-t':	'core:move-down'

'atom-text-editor.mini':
	'alt-c':	'core:move-up'
	'alt-t':	'core:move-down'

'atom-text-editor:not([mini])':
	'alt-shift-C':	'editor:copy-path'
	'alt-shift-K':	'editor:delete-line'
	'enter':	'editor:newline'
	'shift-tab':	'editor:outdent-selected-rows'
	'tab':	'editor:indent'

'atom-workspace atom-pane':
	'alt-ctrl--':	'pane:decrease-size'
	'alt-ctrl-=':	'pane:increase-size'

'atom-workspace atom-text-editor':
	'ctrl-backspace':	'editor:delete-to-beginning-of-subword'
	'ctrl-left':	'editor:move-to-previous-subword-boundary'
	'ctrl-right':	'editor:move-to-next-subword-boundary'
	'ctrl-shift-left':	'editor:select-to-previous-subword-boundary'
	'ctrl-shift-right':	'editor:select-to-next-subword-boundary'
	'ctrl-a':	'core:select-all'
	'alt-ctrl-shift-P':	'editor:log-cursor-scope'
	'alt-backspace':	'editor:delete-to-beginning-of-word'
	'alt-delete':	'editor:delete-to-end-of-word'
	'alt-end':	'core:move-to-bottom'
	'alt-home':	'core:move-to-top'
	'alt-l':	'editor:select-line'
	'alt-left':	'editor:move-to-beginning-of-word'
	'alt-right':	'editor:move-to-end-of-word'
	'alt-shift-end':	'core:select-to-bottom'
	'alt-shift-home':	'core:select-to-top'
	'alt-shift-left':	'editor:select-to-beginning-of-word'
	'alt-shift-right':	'editor:select-to-end-of-word'

'atom-workspace atom-text-editor:not([mini])':
	'ctrl-shift-down':	'editor:add-selection-below'
	'ctrl-shift-up':	'editor:add-selection-above'
	'alt-/':	'editor:toggle-line-comments'
	'alt-<':	'editor:scroll-to-cursor'
	'alt-[':	'editor:outdent-selected-rows'
	'alt-]':	'editor:indent-selected-rows'
	'alt-ctrl-[':	'editor:fold-current-row'
	'alt-ctrl-]':	'editor:unfold-current-row'
	'alt-ctrl-f':	'editor:fold-selection'
	'alt-ctrl-z':	'editor:checkout-head-revision'
	'alt-ctrl-{':	'editor:fold-all'
	'alt-ctrl-}':	'editor:unfold-all'
	'alt-down':	'editor:move-line-down'
	'alt-shift-D':	'editor:duplicate-lines'
	'alt-up':	'editor:move-line-up'

'body':
	'ctrl-tab': "pane:show-next-item"
	'ctrl-shift-tab': "pane:show-previous-item"
	'ctrl-delete': "pane:close"

	'ctrl-m':	'window:toggle-menu-bar'
	'ctrl-shift-left':	'editor:move-selection-left'
	'ctrl-shift-right':	'editor:move-selection-right'
	'ctrl-t':	'tree-view:toggle'
	'backspace':	'core:backspace'
	'alt-+':	'window:increase-font-size'
	'alt-,':	'application:show-settings'
	'alt--':	'window:decrease-font-size'
	'alt-0':	'window:reset-font-size'
	'alt-=':	'window:increase-font-size'
	'alt-_':	'window:decrease-font-size'
	'alt-ctrl-o':	'application:add-project-folder'
	'alt-ctrl-p':	'window:run-package-specs'
	'alt-ctrl-r':	'window:reload'
	'alt-c':	'core:move-up'
	'alt-down':	'core:move-down'
	'alt-f4':	'core:close'
	'alt-h':	'core:move-left'
	'alt-insert':	'core:copy'
	'alt-l':	'pane:show-next-item'
	'alt-n':	'core:move-right'
	'alt-o':	'application:open-file'
	'alt-pagedown':	'pane:show-next-item'
	'alt-pageup':	'pane:show-previous-item'
	'alt-q':	'application:quit'
	'alt-s':	'core:save'
	'alt-shift-I':	'window:toggle-dev-tools'
	'alt-shift-L':	'pane:show-previous-item'
	'alt-shift-N':	'application:new-window'
	'alt-shift-O':	'application:open-folder'
	'alt-shift-S':	'core:save-as'
	'alt-shift-T':	'pane:reopen-closed-item'
	'alt-shift-W':	'window:close'
	'alt-shift-Z':	'core:redo'
	'alt-shift-down':	'core:move-down'
	'alt-shift-pagedown':	'pane:move-item-right'
	'alt-shift-pageup':	'pane:move-item-left'
	'alt-shift-up':	'core:move-up'
	'alt-t':	'core:move-down'
	'delete':	'core:delete'
	'down':	'core:move-down'
	'enter':	'core:confirm'
	'escape':	'core:cancel'
	'f11':	'window:toggle-full-screen'
	'left':	'core:move-left'
	'pagedown':	'core:page-down'
	'pageup':	'core:page-up'
	'right':	'core:move-right'
	'shift-backspace':	'core:backspace'
	'shift-delete':	'core:cut'
	'shift-down':	'core:select-down'
	'shift-insert':	'core:paste'
	'shift-left':	'core:select-left'
	'shift-pagedown':	'core:select-page-down'
	'shift-pageup':	'core:select-page-up'
	'shift-right':	'core:select-right'
	'shift-up':	'core:select-up'
	'up':	'core:move-up'

'body .native-key-bindings':
	'ctrl-down':	'native!'
	'ctrl-left':	'native!'
	'ctrl-right':	'native!'
	'ctrl-shift-down':	'native!'
	'ctrl-shift-left':	'native!'
	'ctrl-shift-right':	'native!'
	'ctrl-shift-up':	'native!'
	'ctrl-up':	'native!'
	'backspace':	'native!'
	'cmd-down':	'native!'
	'cmd-left':	'native!'
	'cmd-right':	'native!'
	'cmd-up':	'native!'
	'alt-b':	'native!'
	'alt-c':	'native!'
	'alt-d':	'native!'
	'alt-down':	'native!'
	'alt-f':	'native!'
	'alt-h':	'native!'
	'alt-left':	'native!'
	'alt-right':	'native!'
	'alt-shift-B':	'native!'
	'alt-shift-F':	'native!'
	'alt-shift-Z':	'native!'
	'alt-shift-down':	'native!'
	'alt-shift-left':	'native!'
	'alt-shift-right':	'native!'
	'alt-shift-up':	'native!'
	'alt-up':	'native!'
	'alt-v':	'native!'
	'alt-x':	'native!'
	'alt-z':	'native!'
	'delete':	'native!'
	'down':	'native!'
	'enter':	'native!'
	'left':	'native!'
	'right':	'native!'
	'shift-backspace':	'native!'
	'shift-cmd-down':	'native!'
	'shift-cmd-left':	'native!'
	'shift-cmd-right':	'native!'
	'shift-cmd-up':	'native!'
	'shift-down':	'native!'
	'shift-left':	'native!'
	'shift-right':	'native!'
	'shift-tab':	'core:focus-previous'
	'shift-up':	'native!'
	'tab':	'core:focus-next'
	'up':	'native!'


'.select-list atom-text-editor[mini]':
	'enter':	'core:confirm'

'body atom-text-editor.autocomplete-active':
	'alt-c': 'autocomplete-plus:move-up'
	'alt-t': 'autocomplete-plus:move-down'
	'enter': 'autocomplete-plus:confirm'
